@* This page is the base layout for all pages. The @Render calls those tags from the other pages to display that specific data. *@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewData["TItle"]</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav>
        <a asp-controller="blah" asp-action="Index">Home</a>
        <a asp-controller="blah" asp-action="Calculator">Grade Calculator</a>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer>Copyright 2022 Becca Blazzard, Inc.</footer>

    @*<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>*@

</body>
</html>
