@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Becca Blazzard's First Web App";

}



<h1>Becca Blazzard</h1>
<img src="img/IMG-2207 (1).jpg" />
<p>
    I hope to obtain good grasp on ASP.NET and be able to comfortably build my
    own web applications. With this knowledge, I want to build applications based on my peronsal ideas
    and projects. I also want to work on my problem-solving skills and continue to improve on self-teaching.
</p>
<br />

<h2>My Top 3 Job Choices:</h2>
<ol>
    <li>Database Developer</li>
    <li>Product Manager</li>
    <li>Project Manager</li>
</ol>


